* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: "Poppins", sans-serif;
  color: white;
}
.container {
  width: 1000px;
  margin: 0 auto;
}

.current-weather-logo img {
  width: 60px;
}

#search {
  width: 100%;
  height: 30px;
  outline: none;
  background-color: inherit;
  border: none;
  color: white;
  font-size: 20px;
}

.search-bar {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.search-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  overflow: hidden;
  padding: 10px 15px;
  background-color: #373737;
}

.icon {
  font-size: 24px;
  color: white;
}

.settings-container {
  position: relative;
}
.search-suggestion {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 0;
  right: 0;
  background-color: #373737;
  color: white;
  z-index: 9999;
}

.settings-suggestion.hide {
  display: none;
}

.settings-suggestion {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  right: 0;
  background-color: #373737;
  color: white;
  z-index: 9999;
}

.suggested-location,
.suggested-unit {
  margin: 10px 20px;
  cursor: pointer;
}

.setting-logo-container {
  height: 50px;
  width: 50px;
  background-color: #373737;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-weather-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.weather-headline {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-detail {
  display: flex;
}

.min-max-detail {
  display: flex;
  gap: 50px;
  font-size: 30px;
  font-weight: 700;
}

.min-temp {
  display: flex;
  gap: 5px;
  height: fit-content;
  align-items: center;
}

.max-temp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.feel-temp {
  font-size: 20px;
  font-weight: 400;
}

.temp {
  font-size: 110px;
  font-weight: 700;
  line-height: 1;
}

.title {
  font-size: 18px;
}

.weather-main-icon {
  width: 100px;
  height: 100px;
}

.weather-details {
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  column-gap: 120px;
}

.brief-title {
  margin-bottom: 20px;
  font-size: 1.4em;
  font-weight: 500;
}

.hourly-cards-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(8, 1fr);
}

.hourly-card {
  background: #373737;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-weight: 600;
}

.hour-text {
  padding-bottom: 5px;
  font-weight: 500;
}

.small-text {
  font-size: 0.8em;
}

.weather-icon {
  user-select: none;
  -webkit-user-drag: none;
  height: 60px;
  padding: 8px 0px;
}

.week-brief,
.hourly-brief {
  padding: 10px 20px;
}

.week-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.week-card {
  background: #373737;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  max-width: fit-content;
  padding: 0px 10px;
}

.week-details-container {
  flex: 1;
  padding-left: 10px;
}

.icon-container img {
  max-height: 100%;
  width: 90px;
}

.date {
  font-size: 0.88em;
  text-transform: uppercase;
}

.day-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}

.date {
  font-size: 0.88em;
  text-transform: uppercase;
}

.temp-details {
  justify-content: flex-start;
  display: flex;
}

.temp-details .max {
  margin-left: 20px;
}

.temp-details div .temp {
  padding-top: 10px;
  line-height: 24px;
  font-size: 2em;
  font-weight: 600;
}

body.dark-theme .temp-label {
  color: #b0afaf;
}

@media screen and (max-width: 1060px) {
  .week-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
